<template>
  <div id="site-wrapper">
    <router-view />
  </div>
</template>

<script>


export default {
  data(){
    return {}
  },
  mounted() {

  },
  updated() {

  },
  methods: {

  }
};
</script>

<style lang="scss">

</style>
