<template>
<div id="site-wrapper">
  <site-header :type="$route.meta && $route.meta.headerType || 'default'" v-if="$route.meta && $route.meta.hideHeader !== true" />

  <div id="site-container">
    <keep-alive>
      <router-view :key="$router.currentRoute.fullPath" />
    </keep-alive>
  </div>

  <div id="site-sidebar-toggler" v-if="$route.meta && $route.meta.hideSidebar !== true"
    @click="toggleSidebar"><img src="/img/site-sidebar-toggler.svg"></div>

  <transition name="sidebar">
    <site-sidebar v-if="sidebarOpened" @close="closeSidebar" />
  </transition>

  <site-modal />
  <site-dialog />
  <site-alert />

  <site-footer v-if="$route.meta && $route.meta.hideFooter !== true" />
</div>
</template>

<script>
import SiteHeader from "@/components/outline/Header";
import SiteFooter from "@/components/outline/Footer";
import SiteSidebar from "@/components/outline/Sidebar";
import SiteModal from "@/components/modules/Modal/Body.vue";
import SiteDialog from "@/components/modules/Dialog/Body.vue";
import SiteAlert from "@/components/modules/Alert/Body.vue";
import Clipboard from "clipboard";

export default {
  components: {
    SiteHeader,
    SiteFooter,
    SiteSidebar,
    SiteModal,
    SiteDialog,
    SiteAlert,
  },
  data() {
    return {
      sidebarOpened: false,
      clipboard: null,
    }
  },
  watch: {
    $route() {
      window.dataLayer.push({ event: "route_changed" });
    }
  },
  created() {
    // CLIPBOARD JS
    this.clipboard = new Clipboard(".copy-area");
    this.clipboard.on("success", e => {
      e.clearSelection();
      this.$store.commit("alert/ADD_ITEM", { message: this.$__t("복사되었습니다."), status: "success" });
    });

    if (this.$route.params.promotion_id) {
      var content = this.$route.params.promotion_id;
      setTimeout(() => {
        this.$store.commit("modal/ADD_ITEM", { component: "Promotion", size: "big", payload: { content } });
      }, 0);
    };
  },
  methods: {
    toggleSidebar() {
      this.sidebarOpened = !this.sidebarOpened;
    },
    closeSidebar() {
      this.sidebarOpened = false;
    }
  }
  
  // zIndex Level
  // Header: 1000
  // Fixed Element: 1200
  // Sidebar: 1300
  // Process Modal: 1400;
  // Modal : 1500
  // Dialog : 1600
  // Alert : 1700

  // Modal Size
  // $site-width-h
};
</script>

<style lang="scss">

</style>
