html, body, div, h1, h2, h3, h4, h5, p, ul, li, ol, img, iframe, canvas, video, svg, b, i, strong, span, form, input, label, button, select, textarea, pre{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  word-break: inherit;
  word-spacing: inherit;
  color: inherit;
  text-decoration: inherit;
  list-style: none;
  cursor: inherit;
  -webkit-appearance: none;
  word-break: break-all;
}

img, iframe, canvas, svg, video, input, button, textarea{
  display: block;
  max-width: 100%;
}

button {
  word-break: keep-all;
  cursor: pointer;
}

input, textarea, select{
  user-select: auto;
}

input, button, textarea, select{
  display: block;
  width: 100%;
  background-color: transparent;
}
pre{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
