// ALERT
.alert-enter,
.alert-leave-to{
  opacity: 0;
  transform: translateY( 2*$unit );
}
.alert-enter-active,
.alert-leave-active{
  transition: opacity .3s, transform .3s;
}
.alert-enter-to,
.alert-leave{
  opacity: 1;
  transform: translateY( 0 );
}

.alert-item{
  @include fsf;
  top: auto;
  max-width: $site-width-g;
  margin: 2*$unit auto;
  z-index: 1700;
  color: $color-white;
  & > .container{
    margin: 0 2*$unit;
    @include shadow-box( $color-shadow );
  }
  .alert-body{
    padding: $unit 3*$unit $unit 4*$unit;
  }
  .close{
    @include fsa;
    right: auto;
    width: 4*$unit;
    height: 4*$unit;
    font-size: $font-size-large;
    line-height: 4*$unit;
    text-align: center;
    cursor: pointer;
    z-index: 1;
  }
  &{
    & > .container{
      background-color: $color-black;
    }
  }
  &.error{
    & > .container{
      background-color: $color-red;
    }
  }
  &.alert{
    & > .container{
      // background-color: $color-secondary;
    }
  }
  &.success{
    & > .container{
      // background-color: $color-primary;
    }
  }
}

// DIALOG
.dialog-enter,
.dialog-leave-to{
  opacity: 0;
  & > .container{
    transform: translateY( -2*$unit );
  }
}
.dialog-enter-active,
.dialog-leave-active{
  transition: opacity .15s;
  & > .container{
    transition: transform .15s;
  }
}
.dialog-enter-to,
.dialog-leave{
  opacity: 1;
  & > .container{
    transform: translateY( 0 );
  }
}
.dialog-item{
  @include fsf;
  padding: 4*$unit 2*$unit;
  background-color: $color-shadow;
  z-index: 1600;
  @include vertical-center-container( "& > .container", $site-width-h );
  & > .container{
    @include shadow-box( $color-shadow );
  }
  .dialog-body{
    padding: 2*$unit;
  }
  .dialog-footer{
    border-top: 1px solid $color-gray-1;
    text-align: right;
    line-height: 0;
    @include cl-last;
  }
}

// MODAL
.modal-enter,
.modal-leave-to{
  opacity: 0;
  & > .container{
    transform: translateY( -2*$unit );
  }
}
.modal-enter-active,
.modal-leave-active{
  transition: opacity .3s;
  & > .container{
    transition: transform .3s;
  }
}
.modal-enter-to,
.modal-leave{
  opacity: 1;
  & > .container{
    transform: translateY( 0 );
  }
}
.modal-item{
  @include fsf;
  padding: 4*$unit 2*$unit;
  background-color: $color-shadow;
  z-index: 1500;
  &.big{ @include vertical-center-container( "& > .container", $site-width-f ); }
  &.small{ @include vertical-center-container( "& > .container", $site-width-h ); }
  & > .container{
    @include shadow-box( $color-shadow );
  }
  .close{
    @include fsa;
    bottom: auto;
    left: auto;
    width: 4*$unit;
    height: 4*$unit;
    font-size: $font-size-large;
    line-height: 4*$unit;
    text-align: center;
    cursor: pointer;
    z-index: 1;
  }
}

// BUTTON
.ui-button.border-button{
  border-radius: $radius;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  border: 2px solid;
  & > *{
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: inherit;
    background-color: transparent;
    border: 0;
    i{
      margin-right: 1em;
    }
  }
  &.button-color{
    &-white{
      color: $color-white;
      border-color: $color-white;
    }
    &-black{
      color: $color-black;
      border-color: $color-black;
    }
    &-primary{
      // color: $color-primary;
      // border-color: $color-primary;
    }
    &-dark-gray{
      color: $color-gray-5;
      border-color: $color-gray-5;
    }
    &-gray{
      color: $color-gray-3;
      border-color: $color-gray-3;
    }
    &-red{
      color: $color-red;
      border-color: $color-red;
    }
    &-facebook{
      color: $color-facebook;
      border-color: $color-facebook;
    }
    &-google{
      color: $color-google;
      border-color: $color-google;
    }
  }
  &.button-size{
    &-large{
      & > * {
        padding: 1.25*$unit 4*$unit;
      }
      line-height: 2*$unit;
      font-size: $font-size-little-large;
    }
    &-medium{
      & > * {
        padding: $unit 2*$unit;
      }
      line-height: 2*$unit;
      font-size: $font-size-normal;
    }
    &-small{
      & > * {
        padding: $unit 1.5*$unit;
      }
      line-height: 1*$unit;
      font-size: $font-size-small;
    }
    &-extra-small{
      & > *{
        padding: .5*$unit $unit;
      }
      line-height: 1*$unit;
      font-size: $font-size-small;
      border-width: 1px;
    }
  }
  &.button-display{
    &-block{
      display: block;
    }
    &-inline{
      display: inline-block;
    }
  }
}
.ui-button.solid-button{
  border-radius: $radius;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  & > *{
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: inherit;
    background-color: transparent;
    border: 0;
    i{
      margin-right: 1em;
    }
  }
  &.button-color{
    &-white{
      background-color: $color-white;
      color: $color-black;
    }
    &-black{
      background-color: $color-black;
      color: $color-white;
    }
    &-primary{
      // background-color: $color-primary;
      color: $color-white;
    }
    &-gray{
      background-color: $color-gray-5;
      color: $color-white;
    }
    &-red{
      background-color: $color-red;
      color: $color-white;
    }
    &-facebook{
      background-color: $color-facebook;
      color: $color-white;
    }
    &-google{
      background-color: $color-google;
      color: $color-white;
    }
  }
  &.button-size{
    &-large{
      & > *{
        padding: 1.25*$unit 4*$unit;
      }
      line-height: 2*$unit;
      font-size: $font-size-little-large;
    }
    &-medium{
      & > *{
        padding: $unit 2*$unit;
      }
      line-height: 2*$unit;
      font-size: $font-size-normal;
    }
    &-small{
      & > *{
        padding: $unit 1.5*$unit;
      }
      line-height: 1*$unit;
      font-size: $font-size-small;
    }
    &-extra-small{
      & > *{
        padding: .5*$unit $unit;
      }
      line-height: 1*$unit;
      font-size: $font-size-small;
    }
  }
  &.button-display{
    &-block{
      display: block;
    }
    &-inline{
      display: inline-block;
    }
  }
}
.ui-button.text-button{
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  & > *{
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: inherit;
    background-color: transparent;
    border: 0;
    i{
      margin-right: 1em;
    }
  }
  &.button-color{
    &-white{
      color: $color-white;
    }
    &-black{
      color: $color-black;
    }
    &-primary{
      // color: $color-primary;
    }
    &-gray{
      color: $color-gray-5;
    }
    &-red{
      color: $color-red;
    }
    &-facebook{
      color: $color-facebook;
    }
    &-google{
      color: $color-google;
    }
  }
  &.button-size{
    &-large{
      & > * {
        padding: 1.25*$unit 4*$unit;
      }
      line-height: 2*$unit;
      font-size: $font-size-little-large;
    }
    &-medium{
      & > * {
        padding: $unit 2*$unit;
      }
      line-height: 2*$unit;
      font-size: $font-size-normal;
    }
    &-small{
      & > * {
        padding: $unit 1.5*$unit;
      }
      line-height: 1*$unit;
      font-size: $font-size-small;
    }
    &-extra-small{
      & > *{
        padding: .5*$unit $unit;
      }
      line-height: 1*$unit;
      font-size: $font-size-small;
    }
  }
  &.button-display{
    &-block{
      display: block;
    }
    &-inline{
      display: inline-block;
    }
  }
}

// CAROUSEL
.ui-carousel{
  height: 100%;
  background-color: $color-shadow;
  &-viewport{
    @include fsa;
  }
  &-arrow{
    position: absolute;
    top: 50%;
    margin-top: -2*$unit;
    width: 4*$unit;
    height: 4*$unit;
    text-align: center;
    z-index: 10;
    cursor: pointer;
    &.prev{
      left: 0;
      transform: rotate( 90deg );
    }
    &.next{
      right: 0;
      transform: rotate( -90deg );
    }
    &{
      background-color: $color-shadow;
      svg{
        polyline{
          transition: all .3s;
          stroke: $color-gray-3;
        }
      }
    }
    &:hover{
      svg{
        polyline{
          stroke: $color-white;
        }
      }
    }
  }
  &-pager{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 2*$unit 0;
    text-align: center;
    line-height: 0;
    span{
      display: inline-block;
      width: .875*$unit;
      height: .875*$unit;
      background-color: $color-white;
      border: 1px solid $color-white;
      border-radius: $radius;
      margin: 0 .25*$unit;
      z-index: 10;
      transition: all .3s;
      cursor: pointer;
      &{
        background-color: $color-gray-7;
      }
      &.on{
        // background-color: $color-primary;
      }
    }
  }
  &{
    .ui-carousel-list{
      width: 100%;
      height: 100%;
    }
    .ui-carousel-item{
      @include vertical-center-container( "& > .container", "100%" );
      width: 100%;
    }
  }
  &.slide{
    overflow: hidden;
    .ui-carousel-list{
      display: flex;
      transition: all .3s;
    }
  }
  &.fade{
    .ui-carousel-item{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transition: all .3s;
      &{
        opacity: 0;
      }
      &.on{
        opacity: 1;
      }
    }
  }
}
