// HEADER
#site-header {
  @include fsf;
  bottom: auto;
  height: 6*$unit;
  background-color: $color-white;
  overflow: hidden;
  z-index: 1000;
  @media screen and (min-width: $site-width-f){
    @include container('& > .container', 1200px); 
  }

  & > .container{
    height: 100%;
    padding: 0 $unit;

    .logo{
      display: inline-block;
      padding: 2*$unit 0;

      img{
        height: 2*$unit;
      }
    }
  
    .profile{
      position: absolute;
      height: 100%;
      line-height: 100%;
      display: inline-flex;
      align-items: center;
      min-width: 7.5*$unit;
      padding-left: 2*$unit;
      width: auto;
  
      button{
        padding: 0.25*$unit 0;
        width: 5*$unit;

        &+button{
          margin-left: .75*$unit;
        }

        &.round{
          border-radius: 1.063*$unit;
          line-height: 1.5;
        }
  
        &.navy{
          background-color: $color-navy;
          color: $color-white
        }
  
        &.white{
          background-color: $color-white;
          color: $color-navy;
        }
      }
    }
  
    .menu-list{
      position: absolute;
      white-space: nowrap;
      top: 0;
      right: 0;
      width: auto;
      height: 100%;
      display: table;

      .list-item{
        display: table-cell;
        vertical-align: middle;
        padding: 0.5*$unit 0.938*$unit;
        color: $color-navy;
        font-size: 1.125*$unit;
        font-weight: bold;
        cursor: pointer;
      }
    }

    @media screen and (max-width: $site-width-f){
      padding: 0 1.167*$unit;

      .logo{
        img{
          height: 1.833*$unit;
        }
      }

      .menu-list{
        display: none;
      }

      .profile{
        right: 0;
        padding-left: 0;
        padding-right: 3.75*$unit;

        button{
          padding: 0.167*$unit 0;
          font-size: 0.833*$unit;
          width: 4.167*$unit;

          &+button{
            margin-left: .5*$unit;
          }
        }
      }
    }
  }
}

.language-select{
  height: 2.5*$unit;
  line-height: 2.5*$unit;
  padding: 0 2.5*$unit 0 $unit;
  margin: 1.75*$unit 0;
  border: 1px solid $color-gray-3;
  border-radius: $radius;
  background-color: $color-gray-0;
  font-weight: normal;
  cursor: pointer;
  .fa-globe{
    margin-right: .5*$unit;
  }
  .fa-angle-down{
    @include fsa;
    left: auto;
    right: $unit;
    line-height: 2.5*$unit;
  }
  select{
    @include fsa;
    z-index: 9999;
    opacity: 0;
  }
}


// SIDEBAR
#site-sidebar{
  @include fsf;
  background-color: $color-shadow;
  z-index: 1300;
  & > .container{
    @include fsf;
    left: auto;
    width: 22*$unit;
    background-color: $color-white;
  }
  a{
    display: block;
  }
  .auth{
    padding: 1.5*$unit 2*$unit;
    margin-bottom: 2*$unit;
    border-bottom: 1px solid $color-gray-3;
    .profile-photo{
      position: absolute;
      top: 0;
      left: -0.75*$unit;
      width: 3*$unit;
      height: 3*$unit;
      // background-color: $color-primary;
      background-position: center;
      background-size: cover;
      border-radius: 3*$unit;
    }
    .text{
      padding: .25*$unit 0 .25*$unit 3*$unit;
      line-height: 1.25*$unit;
      span{
        display: block;
        font-size: $font-size-extra-small;
        color: $color-gray-5;
        line-height: 1.25*$unit;
      }
    }
  }
  .primary{
    font-size: $font-size-little-large;
    padding: 0 2*$unit;
    margin-bottom: 2*$unit;
  }
  .secondary{
    padding: 0 2*$unit;
    margin-bottom: 2*$unit;
    word-break: break-all;
  }
  .language{
    padding: 2*$unit;
    font-size: $font-size-small;
    line-height: 1.5*$unit;
    ul{
      li{
        cursor: pointer;
        & + li{
          margin-top: .5*$unit;
        }
      }
    }
  }
  .version {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2*$unit;

    p {
      line-height: 1.5*$unit;
      font-size: 0.5*$unit;

      span {
        font-size: 0.8*$unit;
        font-weight: bold;
        margin-left: 0.2*$unit;
      }
    }
  }
}

// FOOTER
#site-footer{
  background-color: $color-navy;
  color: $color-white;
  @media screen and (min-width: $site-width-f){
    @include container('& > .container', 1200px); 
  }

  & > .container{
    display: flex;
    padding: 2.875*$unit 1.167*$unit 5*$unit 1.167*$unit;

    &.mobile{
      display: none;
    }
    &.pc{
      display: flex;
    }

    & > .content-left{
      flex: 7.5;
      padding-right: .25*$unit;

      ul{
        li{
          display: inline-block;
        }

        &.link-list{
          li{
            font-size: 0.875*$unit;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;

           &+li{
             margin-left: 2.625*$unit;
           } 
          }
        }

        &.company-info{
          margin-top: 0.875*$unit;
          line-height: 1.47;

          li{
            font-size: 0.938*$unit;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: -0.6px;
            padding: 0 0.875*$unit;
            
            strong{
              font-weight: bold;
            }

            &:after{
              content: '';
              width: 1px;
              height: 0.85*$unit;
              border-left: solid 1px $color-white;
              position: absolute;
              right: 0;
              top:50%;
              transform: translate(50%, -50%);
            }

            &:first-of-type{
              padding-left: 0;

              &:after{
                border-left: solid 2.5px $color-white;
              }
            }

            &.clear{
              padding-right: 0;
              &:after{
                border-left: 0
              }
            }
          }

          br+li{
            padding-left: 0;
          }
        }

        &.portal-list{
          margin-top: $unit;

          li{
            font-size: 0.875*$unit;
            font-weight: bold;
            line-height: 1.43;

            &+li{
              margin-left: 1.875*$unit;
            }
          }
        }
      }

      .notice{
        margin-top: 2.375*$unit;
        font-size: 0.938*$unit;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: -0.6px;
        word-wrap: break-word;
        word-break: keep-all;
      }

      .copyright{
        display: flex;
        align-items: center;
        margin-top: .1*$unit;

        img{
          height: 4.125*$unit;
          display: inline-block;
        }

        .text{
          padding-left: $unit;
          height: 4*$unit;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 4*$unit;
          letter-spacing: normal;
          display: inline-block;
        }
      }
    }

    & .content-right{
      flex: 2.5;
      padding-left: .25*$unit;

      .cs-area{
        .primary{
          font-size: 1.5*$unit;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;

          &+.primary{
            margin-top: .5*$unit;
          }
        }

        .secondary{
          margin-top: 0.625*$unit;
          font-size: 0.938*$unit;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.47;
          letter-spacing: -0.6px;
        }
      }

      .button-area{
        .p2p{
          margin-top: 1.25*$unit;
          height: 4.625*$unit;

          img{
            height: 100%;
          }
        }
  
        .social{
          width: auto;
          height: 100%;
          display: flex;
          margin-top: 1.75*$unit;

          button{
            width: 2.875*$unit;

            &+button{
              margin-left: 1.75*$unit;
            }
            img{
              display: inline-block;
            }
          }
        }
      }
    }

    @media screen and (max-width: $site-width-f){
      &.pc{
        display: none;
      }
      &.mobile{
        display: block;
      }

      padding: 1.333*$unit 1.167*$unit 2.333*$unit 1.167*$unit;

      .cs-area{
        .primary{
          display: inline-block;
          padding: 0 0.5*$unit;
          font-size: $unit;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;

          &:first-of-type{
            padding-left: 0;

            &::after{
              content: '';
              width: 1px;
              height: 0.85*$unit;
              border-left: solid 2px $color-white;
              top: 50%;
              transform: translate(calc(50% + 1px), -50%);
              position: absolute;
              right: 0;
            }
          }
        }

        .secondary{
          margin-top: 0.25*$unit;
          font-size: 0.833*$unit;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: -0.4px;
        }
      }
      .company-info{
        margin-top: 2.5*$unit;
        line-height: 1.5;
        white-space: nowrap;

        &+.company-info{
          margin-top: 1.35*$unit;
        }

        li{
          font-size: 0.833*$unit;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: -0.6px;
          padding: 0 0.75*$unit;
          display: inline-block;
          
          strong{
            font-weight: bold;
          }

          &:after{
            content: '';
            width: 1px;
            height: 0.85*$unit;
            border-left: solid 1px $color-white;
            position: absolute;
            right: 0;
            top:50%;
            transform: translate(50%, -50%);
          }

          &:first-of-type{
            padding-left: 0;
            &:after{
              border-left: solid 2.5px $color-white;
            }
          }

          &.clear{
            padding-right: 0;
            &:after{
              border-left: 0
            }
          }
        }

        br+li{
          padding-left: 0;
        }
      }

      .portal-list{
        margin-top: .5*$unit;

        li{
          display: inline-block;
          font-size: 0.833*$unit;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;

          &+li{
            margin-left: 1.667*$unit;
          }
        }
      }

      .button-area{
        margin-top: 0.833*$unit;
        .p2p{
          width: 11.667*$unit;
        }
      }

      .notice{
        margin-top: 2*$unit;
        font-size: 0.833*$unit;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.4px;
        word-wrap: break-word;
        word-break: keep-all;
      }

      .logo-area{
        margin-top: 2.75*$unit;
        width: 8.833*$unit;
      }

      .social{
        position: absolute;
        display: flex;
        right: 0.667rem;
        bottom: 4*$unit;

        button{
          width: 2.5*$unit;
          margin: 0.335*$unit;
        }
      }

      .copyright{
        position: absolute;
        text-align: right;
        font-size: 0.833*$unit;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        right: 1.167*$unit;
        bottom: 2*$unit;
      }
    }
  }
}

#site-container{
  padding-top: 6*$unit;
  min-height: 100vh;
}

#site-sidebar-toggler{
  position: fixed;
  top: 1.5*$unit;
  right: $unit;
  width: 3*$unit;
  height: 3*$unit;
  box-shadow: none;
  background-color: transparent;
  line-height: 3*$unit;
  font-size: $font-size-little-large;
  text-align: center;
  z-index: 1000;
  cursor: pointer;

  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media screen and (min-width: $site-width-f){
    display: none;
  }
}
.sidebar-enter,
.sidebar-leave-to{
  opacity: 0;
  & > .container{
    transform: translateX( 25% );
  }
}
.sidebar-enter-active,
.sidebar-leave-active{
  transition: opacity .3s;
  & > .container{
    transition: transform .3s;
  }
}
.sidebar-enter-to,
.sidebar-leave{
  opacity: 1;
  & > .container{
    transform: translateX( 0 );
  }
}

#ch-plugin {

  #ch-plugin-core {
    div:first-child {
      bottom: 4*$unit;
      right: 0.2*$unit;
    }
  }
}
