$unit: 1rem;

$site-width-a: 1920px; // 1920
$site-width-b: 1440px; // 1440
$site-width-c: 1280px; // 1280
$site-width-d: 1120px; // 1120
$site-width-e: 960px; // 960
$site-width-f: 800px; // 800
$site-width-g: 640px; // 640
$site-width-h: 480px; // 480
$site-width-i: 320px; // 320

$site-width-desktop: 768px; // 768
$site-width-tablet: 600px; // 600


$font-size-extra-large: 3*$unit;
$font-size-large: 2*$unit;
$font-size-little-large: 1.25*$unit;
$font-size-normal: $unit;
$font-size-small: .875*$unit;
$font-size-extra-small: .75*$unit;

$radius: 3px;

$color-danger: rgb(230,20,20);

$color-gray-0: rgb( 248, 249, 250 );
$color-gray-1: rgb( 241, 243, 245 );
$color-gray-2: rgb( 233, 236, 239 );
$color-gray-3: rgb( 222, 226, 230 );
$color-gray-4: rgb( 206, 212, 218 );
$color-gray-5: rgb( 173, 181, 189 );
$color-gray-6: rgb( 134, 142, 150 );
$color-gray-7: rgb( 73, 80, 87 );
$color-gray-8: rgb( 52, 58, 64 );
$color-gray-9: rgb( 33, 37, 41 );
$color-black: $color-gray-9;
$color-white: rgb(255,255,255);
$color-shadow: rgba(0,0,0,0.5);
$color-shadow-light: rgba(0,0,0,0.25);

$color-navy: #2d3e4f;



$color-red: rgb(230,20,20);
$color-red-bright: rgb(250,60,60);
$color-red-dark: rgb(200,0,0);

$color-green: rgb(43,138,62);
$color-green-bright: rgb(60,250,60);
$color-green-dark: rgb(0,200,0);

$color-blue: rgb(20,20,230);
$color-blue-bright: rgb(60,60,250);
$color-blue-dark: rgb(0,0,200);

$color-google: rgb(234,67,53);
$color-google-bright: rgb(254,87,73);
$color-google-dark: rgb(194,27,13);

$color-facebook: rgb(60,88,152);
$color-facebook-bright: rgb(80,108,172);
$color-facebook-dark: rgb(20,48,112);

@mixin cl-last{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

@mixin container( $target, $size ){
  #{$target}{
    @include cl-last;
    max-width: $size;
    width: 100%;
    margin: 0 auto;
  }
}

@mixin fsf{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin fsa{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@mixin vertical-center-container( $target, $size ){
  text-align: center;
  font-size: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  #{$target}{
    display: inline-block;
    width: 100%;
    max-width: $size;
    vertical-align: middle;
    text-align: left;
    font-size: $font-size-normal;
  }
}

@mixin column( $child-selector, $count, $gutter, $gutter-all : true ){
  @include cl-last;
  #{$child-selector}{
    float: left;
    clear: none;
    width: ( 100% - ( $count - 1 ) * $gutter ) / $count;
    margin-right: $gutter;
    &:nth-child(#{$count}n-#{$count}){
      margin-right: 0;
    }
    &:nth-child(#{$count}n-#{$count - 1}){
      clear: left;
    }
    @if $gutter-all {
      margin-top: $gutter;
      @for $i from 1 through $count {
        &:nth-child(#{$i}){
          margin-top: 0;
        }
      }
    }
  }
}

@mixin fix-ratio( $width, $height, $child-selector : "& > .container" ){
  &:after{
    content: "";
    display: block;
    padding-top: $height/$width*100%;
  }
  #{$child-selector}{
    @include fsa;
  }
}

@mixin shadow-box( $color: $color-gray-3 ){
  background-color: $color-white;
  box-shadow: 0 0 .25*$unit $color;
  border-radius: $radius;
}
