@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto&display=swap');
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "default.scss";
@import "settings.scss";
@import "pages.scss";
@import "includes.scss";
@import "outline.scss";
@import "resources.scss";
@import "modules.scss";
@import "richform.scss";

html{
  font-size: 16px;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  letter-spacing: -.025em;
  line-height: 2;
  word-break: keep-all;
  color: $color-black;
  @media screen and (max-width:$site-width-f){
    font-size: 14px;
  }
  @media screen and (max-width:$site-width-g){
    font-size: 13px;
  }
  @media screen and (max-width:$site-width-h){
    font-size: 12px;
  }
}
body{
  background-color: $color-gray-1;
  &.hide-chat{
    #ch-plugin{
      display: none !important;
    }
  }
}
.pac-container{
  @include shadow-box( $color-gray-3 );
  border-top: 0 !important;
  font-family: "Noto Sans KR", sans-serif;
  .pac-item{
    border-top: 0;
    padding: $unit 1.5*$unit;
    & + .pac-item{
      border-top: 1px solid $color-gray-1;
    }
    & > .pac-item-query{
      & + span{
        margin-left: .5*$unit;
        font-size: $font-size-extra-small;
      }
    }
  }
  &:after{
    content:none !important;
  }
}