<template>
  <div class="alert-container">
    <transition-group tag="ul" name="alert">
      <alert-item v-for="( item, i ) in items" :key="i+'-'+item.status" :data="item"></alert-item>
    </transition-group>
  </div>
</template>

<script>
import AlertItem from "./Item";
export default {
  components: {
    AlertItem
  },
  computed: {
    items(){
      return this.$store.getters[ "alert/GET_ITEMS" ];
    }
  }
}
</script>
