<template>
  <div id="site-footer">
    <div class="container pc">
      <div class="content-left">
        <ul class="link-list">
          <li class="list-item">서비스 이용약관</li>
          <li class="list-item">개인정보 취급방법</li>
          <li class="list-item">투자 이용약관</li>
          <li class="list-item">표준 윤리준칙</li>
        </ul>
        <ul class="company-info">
          <li>
            <strong>주식회사 위펀딩</strong>
          </li>
          <li>대표: 이지수</li>
          <li class="clear">사업자등록번호: 537-86-00132</li>
          <br />
          <li>주소: 서울특별시 강남구 테헤란로 410 15층</li>
          <li class="clear">이메일: help@wefunding.com</li>
        </ul>
        <ul class="company-info">
          <li>
            <strong>주식회사 위펀딩대부</strong>
          </li>
          <li>대표: 이지수</li>
          <li class="clear">금전대부: 2021-금강원-1357</li>
          <br />
          <li class="clear">주소: 서울특별시 강남구 테헤란로 410 15층</li>
        </ul>
        <ul class="portal-list">
          <li class="bold">등록업체 통합 조회 서비스</li>
          <li class="bold">금융감독원 민원상담전화 1332</li>
        </ul>
        <p class="notice">
          대출금리 연 24% 이내(연체금리 연 24%이내) 채무의 조기상환수수료율 등
          조기상환조건 없으며 플랫폼 이용료, 법무비 등 부대비용 별도 부담입니다.
          중개수수료를 요구하거나 받는 것은 불법입니다. 과도한 빚은 당신에게 큰
          불행을 안겨 줄 수 있습니다. 대출 시 귀하의 신용등급이 하락할 수
          있습니다. (주)위펀딩은 투자원금과 수익을 보장하지 않으며, 투자손실에
          대한 책임은 모두 투자자에게 있습니다.
        </p>
        <div class="copyright">
          <img src="/img/wefunding-logo-footer.png" />
          <span class="text">Copyrights © 2017 Wefunding</span>
        </div>
      </div>
      <div class="content-right">
        <div class="cs-area">
          <div class="primary">위펀딩 고객센터</div>
          <div class="primary">02-508-7006</div>
          <div class="secondary">
            상담가능시간 : 10:00 ~ 17:00<br />
            (점심시간 : 12:30 ~ 13:30)<br />
            이외 시간은 카카오톡으로 문의주시면 성심성의껏 답변드리겠습니다.
          </div>
        </div>
        <div class="button-area">
          <div class="p2p">
            <img src="/img/button-p2p.png" />
          </div>
          <div class="social">
            <button type="button">
              <img src="/img/icon-social-facebook.png" />
            </button>
            <button type="button">
              <img src="/img/icon-social-instagram.png" />
            </button>
            <button type="button">
              <img src="/img/icon-social-naver-blog.png" />
            </button>
            <button type="button">
              <img src="/img/icon-social-kakao.png" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container mobile">
      <div class="cs-area">
        <div class="primary">위펀딩 고객센터</div>
        <div class="primary">02-508-7006</div>
        <div class="secondary">
          상담가능시간 : 10:00 ~ 17:00
          (점심시간 : 12:30 ~ 13:30)<br />
          이외 시간은 카카오톡으로 문의주시면 성심성의껏 답변드리겠습니다.
        </div>
      </div>
      <ul class="company-info">
        <li>
          <strong>주식회사 위펀딩</strong>
        </li>
        <li>대표: 이지수</li>
        <li class="clear">사업자등록번호: 537-86-00132</li>
        <br />
        <li class="clear">주소: 서울특별시 강남구 테헤란로 410 15층</li>
        <br/>
        <li class="clear">이메일: help@wefunding.com</li>
      </ul>
      <ul class="company-info">
        <li>
          <strong>주식회사 위펀딩대부</strong>
        </li>
        <li>대표: 이지수</li>
        <li class="clear">금전대부: 2021-금강원-1357</li>
        <br />
        <li class="clear">주소: 서울특별시 강남구 테헤란로 410 15층</li>
      </ul>
      <ul class="portal-list">
        <li class="bold">등록업체 통합 조회 서비스</li>
        <li class="bold">금융감독원 민원상담전화 1332</li>
      </ul>
      <div class="button-area">
        <div class="p2p">
          <img src="/img/button-p2p.png" />
        </div>
      </div>
      <p class="notice">
        대출금리 연 24% 이내(연체금리 연 24%이내) 채무의 조기상환수수료율 등
        조기상환조건 없으며 플랫폼 이용료, 법무비 등 부대비용 별도 부담입니다.
        중개수수료를 요구하거나 받는 것은 불법입니다. 과도한 빚은 당신에게 큰
        불행을 안겨 줄 수 있습니다. 대출 시 귀하의 신용등급이 하락할 수
        있습니다. (주)위펀딩은 투자원금과 수익을 보장하지 않으며, 투자손실에
        대한 책임은 모두 투자자에게 있습니다.
      </p>
      <div class="logo-area">
        <img src="/img/wefunding-logo-footer.png" />
      </div>
      <div class="copyright">
        <span class="text">Copyrights © 2017 Wefunding</span>
      </div>
      <div class="social">
        <button type="button">
          <img src="/img/icon-social-facebook.png" />
        </button>
        <button type="button">
          <img src="/img/icon-social-instagram.png" />
        </button>
        <button type="button">
          <img src="/img/icon-social-naver-blog.png" />
        </button>
        <button type="button">
          <img src="/img/icon-social-kakao.png" />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
