<template>
  <div id="site-header" :class="type">
    <div class="container">
      <div class="logo">
        <img src="/img/wefunding-logo-header.svg">
      </div>
      <div class="profile">
        <button type="button" class="round navy">
          로그인
        </button>
        <button type="button" class="round white">
          회원가입
        </button>
      </div>
      <div class="menu-list">
        <div class="list-item">
          투자
        </div>
        <div class="list-item">
          법인투자
        </div>
        <div class="list-item">
          WRC
        </div>
        <div class="list-item">
          회사소개
        </div>
        <div class="list-item">
          고객지원
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["type"],
  created(){

  },
  methods: {

  }
}
</script>
