<template>
  <div id="site-sidebar">
    <div class="container">

    </div>
  </div>
</template>

<script>
import config from "@/config"

export default {
  data(){
    return {};
  },
  computed: {
    version: {
      get() {
        return config.version
      }
    }
  },
  mounted(){
    this.$el.addEventListener( "click", this.checkIsSidebar );
    this.$watch( "$route", ( a, b ) => {
      this.closeSidebar();
      this.$el.removeEventListener( "click", this.checkIsSidebar );
    });
  },
  methods: {
    checkIsSidebar( e ){
      if( this.$store.state.config.isTouchDevice || e.which == 1 ){
        this.closeSidebar();
      };
    },
    closeSidebar(){
      this.$emit( "close" );
    }
  },
}
</script>
