<template>
  <div id="root">
    <div id="app">
      <keep-alive v-if="loaded">
        <router-view/>
      </keep-alive>

      <div v-if="!loaded">
        <div style="font-size: 2rem; width: 2rem; height: 2rem; position: fixed; top: 0; left: 0; right: 0; bottom: 0; margin: auto; text-align: center;">
          <i class="fa fa-spinner fa-pulse"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import config from "@/config";

export default {

  data() {
    return {
      sessionReady: false
    }
  },

  computed: {
    loaded() {
      return this.sessionReady
    }
  },

  async created() {
    this.onInitialize()
  },

  methods: {
    async onInitialize() {
      this.onStartSession();
    },

    onStartSession() {
      console.log( "onStartSession" )

      this.onRefreshSession(() => {

        this.onLoadedSession()

      })

    },

    onRefreshSession( callback ) {
      console.log( "onRefreshSession" )

      this.$store.dispatch( "auth/refresh" ).then(() => {
        callback()
      }).catch(e => {
        this.onError(e)
        callback()
      })
    },

    onLoadedSession() {
      console.log( "onLoadedSession" )

      this.$data.sessionReady = true
      this.$router.beforeEach( ( to, from, next ) => {
        this.checkPermissions( to, from, next )
      })

      this.checkPermissions( this.$router.currentRoute, null, ( to ) => {
        if (to) { this.$router.replace(to) }
      })
    },

    onError(e) {
      this.$store.commit( "alert/ADD_ITEM", { message: e.message, status: "error" })
    },

    openLoginModal(to) {

      if (to.query.token) {
        this.$store.dispatch("auth/direct", { token: to.query.token })
      }
      else {
        this.$store.commit( "modal/ADD_ITEM", {
          component: "LoginForm",
          size: "small",
          class: "for-modal",
          onClose: (target) => { target.$ga.commands.tracking.call(target, 'login', 'click', 'close' ) },
          redirect: to.query ? to.query.redirect : "",
        })
      }
    },

    checkPermissions( to, from, next ) {

      var _to = null;

      to.matched.forEach( o => {
        let { level, guest } = o.meta || {}
      })

      if ( config.isTouchDevice ) {
        if ( _to ) { next( _to ) } else { next() }
      }
    }
  }
}
</script>
